<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_IMessage" 
      contract="IMessage"
      binding="netTcpBinding"
      address="net.tcp://192.168.0.100:9191/WCFCallbacks/Message"
      bindingConfiguration="chat"/>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="chat" sendTimeout="00:01:00" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
