<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFCallbacks.MessageService"
      behaviorConfiguration="WCFCallbacks.MessageBehavior">

        <endpoint address ="net.tcp://localhost:9191/WCFCallbacks/Message"
        binding="netTcpBinding"
       contract="WCFCallbacks.IMessage">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
       binding="mexTcpBinding"
       contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFCallbacks.MessageBehavior">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>